.footerStyle  {
  background-color: rgb(32, 32, 31);
  font-size: 20px;
  color: white;
  border-Top: 1px solid black;
  text-align: center;
  padding: 10px 0px 10px 0px ;
  margin-top: 10px;
  left: 0;
  bottom: 0;
  width: 100%;
  position: absolute;
};

.phantomStyle {
  display: block;
  position:relative;
  top:50%;
  left: 50%;
  height: 60px;
  width: 100%;
}

.footerContent   {
  display: inline;
  position: relative;
  left: 5%;
  top: 50%;
  width: 100%;   
}

.footerContent__paragraph {
  display: inline;
  margin-right: 0px;
}

.list {
  display: inline;
  position: relative;
  list-style: none;
  margin-left: 0px;
  margin-right: auto;
  left: -25px;
  top: 5px;
}

.list__element {
  display: inline;
  margin-left: 5px;
}