.headerContent {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    height: 45px;
    background-color: rgb(32, 32, 31);
}

.logo {
    margin-left: 1%;
    background-color: rgb(32, 32, 31);
}

.account_Elements {
    margin-right: 1%;
    text-align: center;
    background-color: rgb(32, 32, 31);
}

.list__navbar {
    display: flex;
    text-align: center;
    list-style: none;
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 0px;
    background-color: rgb(32, 32, 31);
}

.list__navbar__element {
    margin-left: 5px;
    background-color: rgb(32, 32, 31);
}

.inlineAnchor {
    vertical-align: middle;
    margin-left: 10px;
    background-color: rgb(32, 32, 31);
}

.anchorInfo {
    color: white;
    margin-left: 5px;
    display: inline;
    vertical-align: middle;
    background-color: rgb(32, 32, 31);
}

.logOut_button {
    background: transparent;
    background-color: rgb(32, 32, 31);
    border: 0;
    text-decoration: none;
    color:#FFFFFF;
    cursor: pointer;
}

.ico {
    vertical-align: middle;
}